---
// src/components/Header.astro
---
<header> {/* Removed extra classes, handled in global.css */}
  <nav> {/* Removed extra classes, handled in global.css */}
    {/* --- FIX: Added class="logo" --- */}
    <a href="/" class="logo">
      Vegas Recipes
    </a>
    {/* --- END FIX --- */}

    <div class="nav-links"> {/* Changed class name */}
      <a href="/">Home</a>
      <a href="/#all-recipes">All Recipes</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </div>
  </nav>
</header>