---
// src/components/Header.astro
---
<header>
  <nav class="container"> {/* Use container class directly */}
    <a href="/" class="logo">
      Vegas Recipes
    </a>
    <div class="nav-links">
      <a href="/">Home</a>
      {/* --- CHANGE: "All Recipes" to "Recipes" --- */}
      <a href="/#all-recipes">Recipes</a>
      {/* --- END CHANGE --- */}
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </div>
  </nav>
</header>